.factoring{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #004470;
    /* width: 100%; */
}
.replace{
    display: flex;
    flex-direction: row;
}
@media (max-width:768px) {
    .replace{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .factoring{
        align-items: center;
        justify-content: center;
    }
}


