.hero{
    display: flex;
    flex-direction: column;
    padding: 2.8125rem 2.8125rem;
    padding-left: 13.4375rem;
    background: linear-gradient(270deg, #0370F5 15.24%, #20A6FF 71.77%, #20A6FF 111.26%);
    color: white;
    gap: 8px;
}
.hero_title{
    font-family: "Poppins";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}
.hero_subtitle{
    font-family:"Lato";
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
}

@media (max-width: 768px) {
    .hero{
        background: white;
        color: #004470;
        gap: 0.75rem;
        align-items: center;
        padding: 0;
        width: 100%;
        margin-bottom: 1.5rem;
    }
    .hero_title{
        font-size: 24px;
        width:19.0625rem ;
    }
    .hero_subtitle{
        font-size: 16px;
        width: 22.6875rem;
        padding-left: 1.5rem;
    }
}